@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
a:link {color:white;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:white;}  /* selected link */
body {
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
  background-color: #9B59B6;
  text-align: center;
  margin:0;
  padding:0;
  height:100%;
}
p {
  font-size: 2em;
}
footer {
  font-weight: 400;
  font-size : 16px;
  margin-top: 50px;
  width:100%;
}
.container {
  display:flex;
  flex-direction: column;
  min-height:100%;
}
.stats {
  flex: 1;
  margin-top: 150px;
}
#loader {
  padding-top:100px;
}
#loaded {
  display: none;
}
#counter, #last-user {
  line-height: .75em;
  margin: .25em;
}
@media (max-width:540px) {
  #counter {
    font-size: 3.5em;
  }
  #last-user {
    font-size: 3em;
  }
}
@media (min-width:540px) {
  #counter {
    font-size: 5em;
  }
  #last-user {
    font-size: 3em;
  }
}
@media (min-width:960px) {
  #counter {
    font-size: 7em;
  }
  #last-user {
    font-size: 5em;
  }
}
@media (min-width:1024px) {
  #counter {
    font-size: 9.5em;
  }
  #last-user {
    font-size: 7em;
  }
}
